html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow-y: auto;
  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
}

.botao {
    width: 150px;
    height: 50px;
    border-radius: 9px;
    border: 0;
    box-shadow: 1px 1px 1px black;
    background-color: #95b963;
    color: white;
    margin: 9px 0;
    cursor: pointer;
    border: 2px solid #95b963;
    transition: .3s;
}

.botao:hover {
 color: #95b963;
 background-color: transparent;
}

button{
  font-family: 'Times New roman';
  font-size: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    .botao {
        width: 150px;
        height: 50px;
    }
    button {
        font-size: 14px;
    }
    .container{
      padding-top: 200px;
    }
}

@media ( min-width: 769px) and (max-width: 1400px){
  .botao{
    width: 300px;
    height: 100px;
  }
  button {
    font-size: 28px;
  }
  .container{
    padding-top: 250px;
  }
}
